@model Post

@{
}

<h2>@Model.Title</h2>

@if (!String.IsNullOrEmpty(Model.Image))
{
    var image = $"/image/{Model.Image}";
    <img src="@image" alt="@Model.Title" width="500" height="500"/>
}

<p>@Model.Body</p>