@model Post

@{
}

@if (Model.Id == 0)
{
    <h2>Create Post</h2>
}
else
{
    <h2>Edit - @Model.Title</h2>
}


<form asp-controller="Panel" asp-action="Edit">
    <input asp-for="Title"/>
    <input asp-for="Body"/>
    <button type="submit">Edit</button>
</form>